In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


from matplotlib import font_manager, rc

font_path = './malgun.ttf'
font_name = font_manager.FontProperties (fname=font_path).get_name()
rc('font', family=font_name)

df1=pd.read_excel('시도_직업별_2008__이혼_20230227144800.xlsx')


df1=df1.fillna(method='pad')


df1.set_index(['시도별','직업별'],inplace=True)

df1=df1.loc['전국']
df1=df1.astype(int)

list_a=[]
for i in range(0,len(df1.columns),1):
    if i % 2 == 0:
        df1.iloc[:,i] = df1.iloc[:,i] + df1.iloc[:,i+1]
        list_a.append(i+1)
        
df1.drop(df1.columns[[list_a]],axis=1,inplace=True)
df1.drop(df1.index[[9,10]],inplace=True)


df1.rename(index={'계':'이혼자 수'},inplace=True)
df1.loc['이혼자 수'] = '이혼자 수'
df1

df2=pd.read_excel('직종별_임금_및_근로시간__표준직업분류6차__20230227144915.xlsx')

df2=df2.fillna(method='pad')

df2.set_index(['고용형태','한국표준직업분류6차'],inplace=True)
df2 = df2.loc[['고용형태','전체근로자']]

list_a =[]

for i in range(0,len(df2.columns),1):
    if len(df2.columns[i]) == 7:
        list_a.append(i)
    else : 
        if '.1' not in df2.columns[i]:
            if '.7'not in df2.columns[i]:
                list_a.append(i)
                
df2.drop(df2.columns[[list_a]],axis=1,inplace=True)
df2.iloc[1:,:].astype(float)
df2

df2.loc['전체근로자','서비스 종사자(4)']=(df2.loc['전체근로자','서비스 종사자(4)'] + df2.loc['전체근로자','판매 종사자(5)']) / 2 
df2.drop(df2.index[6],inplace=True)
df2.rename(index={'관리자(1)': '관리자',
                  '전문가 및 관련 종사자(2)':'전문가 및 관련 종사자',
                 '사무 종사자(3)':'사무 종사자',
                 '서비스 종사자(4)':'서비스 및 판매 종사자',
                 '농림어업 숙련 종사자(6)':'농림어업 숙련 종사자',
                 '기능원 및 관련 기능 종사자(7)':'기능원 및 관련 기능 종사자',
                 '장치,기계조작 및 조립종사자(8)':'장치,기계 조작 및 조립 종사자',
                 '단순노무 종사자(9)':'단순노무 종사자'}, inplace=True)


df2

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:5069: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:5069: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

                             2009.1      2009.7      2010.1      2010.7  \
고용형태  한국표준직업분류6차
고용형태  한국표준직업분류6차         총근로시간 (시간)  월임금총액 (천원)  총근로시간 (시간)  월임금총액 (천원)
전체근로자 전직종                       189        2277         187        2326
      관리자                     183.2        5080       180.5        5297
      전문가 및 관련 종사자            179.6        2807       176.7        2881
      사무 종사자                  184.9        2587         183        2654
      서비스 및 판매 종사자            186.7      1551.0      186.45      1592.0
      농림어업 숙련 종사자             171.5        1590         159        1570
      기능원 및 관련 기능 종사자           189        2067       186.5        2137
      장치,기계 조작 및 조립 종사자       208.6        2235       210.4        2285
      단순노무 종사자                191.8        1252       186.7        1251

                             2011.1      2011.7      2012.1      2012.7  \
고용형태  한국표준직업분류6차
고용형태  한국표준직업분류6차         총근로시간 (시간)  월임금총액 (천원)  총근로시간 (시간)  월임금총액 (천원)
전체근로자 전직종                     180.8        2428       173.7        2527
      관리자                     176.7        5778       168.3        5955
      전문가 및 관련 종사자            171.5        2944       166.2        3098
      사무 종사자                  179.1        2857       171.5        2991
      서비스 및 판매 종사자            175.4      1710.5       166.1      1740.0
      농림어업 숙련 종사자             169.5        1867       164.3        1924
      기능원 및 관련 기능 종사자         178.8        2258       173.1        2318
      장치,기계 조작 및 조립 종사자       205.9        2496       200.3        2568
      단순노무 종사자                176.6        1330       167.3        1365

                             2013.1      2013.7  ...      2015.1      2015.7  \
고용형태  한국표준직업분류6차                                 ...
고용형태  한국표준직업분류6차         총근로시간 (시간)  월임금총액 (천원)  ...  총근로시간 (시간)  월임금총액 (천원)
전체근로자 전직종                     167.9        2617  ...       173.5        2740
      관리자                     165.6        6189  ...       179.6        7779
      전문가 및 관련 종사자            159.1        3132  ...       170.3        3340
      사무 종사자                  164.8        3050  ...       178.6        3273
      서비스 및 판매 종사자           160.55      1779.0  ...       161.3      1780.0
      농림어업 숙련 종사자               155        1879  ...       166.4        1897
      기능원 및 관련 기능 종사자         168.8        2469  ...       171.8        2530
      장치,기계 조작 및 조립 종사자       194.1        2647  ...       194.4        2733
      단순노무 종사자                164.3        1441  ...       160.7        1449

                             2016.1      2016.7      2017.1      2017.7  \
고용형태  한국표준직업분류6차
고용형태  한국표준직업분류6차         총근로시간 (시간)  월임금총액 (천원)  총근로시간 (시간)  월임금총액 (천원)
전체근로자 전직종                     171.1        2833       168.5        2896
      관리자                     175.3        8279       174.4        8277
      전문가 및 관련 종사자            167.9        3435       167.3        3510
      사무 종사자                  174.7        3348       172.9        3391
      서비스 및 판매 종사자           157.05      1837.5      152.15      1860.5
      농림어업 숙련 종사자             162.2        2001       150.8        1860
      기능원 및 관련 기능 종사자         164.7        2566       163.2        2673
      장치,기계 조작 및 조립 종사자       196.1        2848       193.9        3019
      단순노무 종사자                  163        1584       158.8        1689

                             2018.1      2018.7      2019.1      2019.7
고용형태  한국표준직업분류6차
고용형태  한국표준직업분류6차         총근로시간 (시간)  월임금총액 (천원)  총근로시간 (시간)  월임금총액 (천원)
전체근로자 전직종                     156.4        3028       152.4        3138
      관리자                     161.7        8804       159.2        9818
      전문가 및 관련 종사자            154.7        3634       152.8        3775
      사무 종사자                  159.5        3587       156.8        3732
      서비스 및 판매 종사자           143.65      1977.0       139.9      2075.0
      농림어업 숙련 종사자               145        2015       137.2        2056
      기능원 및 관련 기능 종사자         152.5        2785       146.5        2812
      장치,기계 조작 및 조립 종사자       180.8        3142       173.7        3229
      단순노무 종사자                144.9        1749       139.3        1790

[10 rows x 22 columns]

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


from matplotlib import font_manager, rc

font_path = './malgun.ttf'
font_name = font_manager.FontProperties (fname=font_path).get_name()
rc('font', family=font_name)

df1=pd.read_excel('시도_직업별_2008__이혼_20230227144800.xlsx')


df1=df1.fillna(method='pad')


df1.set_index(['시도별','직업별'],inplace=True)

df1=df1.loc['전국']
df1=df1.astype(int)

list_a=[]
for i in range(0,len(df1.columns),1):
    if i % 2 == 0:
        df1.iloc[:,i] = df1.iloc[:,i] + df1.iloc[:,i+1]
        list_a.append(i+1)
        
df1.drop(df1.columns[[list_a]],axis=1,inplace=True)
df1.drop(df1.index[[9,10]],inplace=True)


df1.rename(index={'계':'이혼자 수'},inplace=True)
df1.loc['이혼자 수'] = '이혼자 수'
df1

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:5069: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
직업별,,,,,,,,,,,
이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수,이혼자 수
관리자,4554,4711,4317,7913,9873,10697,11098,11992,12266,11588,11380
전문가 및 관련 종사자,17106,15904,16015,18414,21107,23056,23520,23480,23623,24600,25207
사무 종사자,36365,35231,35366,31017,28074,25850,23428,21911,20668,23342,24043
서비스 및 판매 종사자,40937,38640,40734,43369,46333,45472,44976,43409,41900,46821,46072
농림어업 숙련 종사자,4405,4011,3942,4194,4417,4344,4048,3995,3861,4099,3732
기능원 및 관련 기능 종사자,11065,10299,9684,10604,11259,11230,10627,9936,9367,13426,13589
"장치,기계 조작 및 조립 종사자",7470,7675,7632,7060,7393,7851,7095,7273,7341,4818,4141
단순노무 종사자,12246,11990,11803,15768,18102,18300,17388,16981,17782,18318,17780